<form action="/" method="post">
	<h1><%= action.first %> <%= @article.title %></h1>
	
	<% if params[:body] %>
		<h3>Preview</h3>
		<p>
			<%= PARSER.parse(params[:body]) %>
		</p>
		<hr/>
	<% end %>
	
	<p>
		<label for="title">Title</label><br/>
		<input type="text" id="title" name="title" value="<%= @article.title %>" />
	</p>
	
	<p>
		<label for="slug">Slug</label><br/>
		<input type="text" id="slug" name="slug" value="<%= @article.slug %>" />
	</p>
	
	<p>
		<label for="body">Body</label><br/>
		<textarea id="body" name="body" cols="70" rows="15">
			<%= params[:body] || @article.body %>
		</textarea>
		<input type="hidden" name="preview" value="0" />
	</p>
	
	<p>
		<button type="button" id="cancel" class="ui-state-default ui-corner-all" onclick="window.location='/<%= @article.slug.gsub(/'/, "\'") if @article.id %>';return false;">Cancel</button>
		&nbsp;&nbsp;
		<button type="submit" id="preview_submit" class="ui-state-default ui-corner-all">Preview</button>
		&nbsp;&nbsp;
		<button type="submit" class="ui-state-default ui-corner-all"><%= action.last %></button>
	</p>
</form>