!!!
%html{:xmlns=>'http://www.w3.org/1999/xhtml', :'xml:lang'=>'en', :lang=>'en'}
  %head
    - if @article
      %title= "#{@article.title} &ndash; hoboken"
    - else
      %title hoboken wiki
    %link{:href=>'/sass/compact/main', :media=>'screen', :rel=>'Stylesheet', :type=>'text/css'}
    %link{:rel=>'stylesheet', :href=>'/markitup/skins/markitup/style.css', :type=>'text/css', :media=>'screen'}
    %link{:rel=>'stylesheet', :href=>'/markitup/sets/wiki/style.css', :media=>'screen', :type=>'text/css'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/markitup/jquery.markitup.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/markitup/sets/wiki/set.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery.form.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery.ui.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/javascripts/application.js', :charset=>'utf-8'}
  %body
    #main
      #sidebar
        %div
          %strong Navigation
        %ul
          %li
            %a{:href => '/'} home
          %li
            %a{:href => "/upload"} upload a file
          - if @article
            %li
              %a{:href => "/#{@article.slug}/edit"} edit
            %li
              %a{:href => "/#{@article.slug}/history"} history
            - if action != nil
              - if action[1] == "Edit" || action[1] == "Create"
                %li
                  %a{:href => '#', :class => 'get_files'} file browser
        - if @recent
          %div
            %strong Recent items
          %ul
            - @recent.each do |article|
              %li
                %a{:href => article.slug}
                  = article.title
      #content
        = yield
        %div{:id => 'file_browser', :style => 'display:none;'}
          %h4
            %a{:href=>'#', :class=>'hide'}
              File Browser
          %p.info Drag files from this panel and drop them into the article's body. If they're images, we'll automatically embed them. Otherwise we'll just include a link.
          %ul.file_list
      #footer
        powered by
        %a{:href=>'http://github.com/jchupp/hoboken/tree/master'} hoboken