!!!
%html{:xmlns=>'http://www.w3.org/1999/xhtml', :'xml:lang'=>'en', :lang=>'en'}
  %head
    %title= "#{@article.title} &ndash; hoboken"
    %link{:href=>'/main.css', :media=>'screen', :rel=>'Stylesheet', :type=>'text/css'}
    %link{:rel=>'stylesheet', :href=>'/markitup/skins/markitup/style.css', :type=>'text/css', :media=>'screen'}
    %link{:rel=>'stylesheet', :href=>'/markitup/sets/wiki/style.css', :media=>'screen', :type=>'text/css'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/markitup/jquery.markitup.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/markitup/sets/wiki/set.js', :charset=>'utf-8'}
    %script{:type=>'text/javascript', :src=>'/javascripts/application.js', :charset=>'utf-8'}
  %body
    #main
      #sidebar
        %div
          %strong Navigation
        %ul
          %li
            %a{:href => '/'} home
          - if @article
            %li
              %a{:href => "/#{@article.slug}/edit"} edit
            %li
              %a{:href => "/#{@article.slug}/history"} history
        - if @recent
          %div
            %strong Recent items
          %ul
            - @recent.each do |article|
              %li
                %a{:href => article.slug}
                  = article.title
      #content
        = yield
      #footer
        powered by
        %a{:href=>'http://github.com/jchupp/hoboken/tree/master'} hoboken